<a href="https://colab.research.google.com/github/raimandvi/python_oops/blob/main/classes_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Object-Oriented Programming (OOPS)

Object-Oriented Programming is a pradigm based on the concept of objects, which can contain data (attributes) and code (methods).



*   Class - A class is a blueprint for creating objects.
*   Object - An object is an instance of a class.

**1. Simple Class Example**



*   self refers to current object.

In [6]:
class Student:
  def display(self):
    print("This is a student class")

s1 = Student()
s1.display()

This is a student class

**2. Clsss with Attributes**

In [7]:
class Student:
  name = "Rahul"
  age = 25

  def show_info(self):
    print("Name:", self.name)
    print("Age:", self.age)

s1 = Student()
s1.show_info()

Name: Rahul
Age: 25

**3. Object with different values**

In [8]:
class student:
  def set_details(self, name, age):
    self.name = name
    self.age = age

  def show_details(self):
    print("Name:", self.name)
    print("Age", self.age)

s1 = student()
s1.set_details("Rahul", 21)

s2 = student()
s2.set_details("Muskan", 24)

s1.show_details()
s2.show_details()

Name: Rahul
Age 21
Name: Muskan
Age 24